<div class="container-fluid">

  <div class="row">

    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>

    <div class="col-md-10 sinpadding">

      {{> cabeceraBeta}}<!--cabecera-->

      <div class="row box-ind sinpadding">

        <div class="col-md-12 box-cajas">

          <div class="row mt-3 mb-3">

            <div class="col-md-2">

              <div class="col-md-3 d-flex justify-content-start">
                <div class="dropdown">
                  <button  class="btn-sm btn btn-outline-dark dropdown-toggle filtro-inter"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por estado
                  </button>
                  <ul class="dropdown-menu">
                    {{#each estados_interacciones}}
                    <li><a class="dropdown-item" href="/interacciones/{{id}}">{{descrip}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-md-2">

              <div class="col-md-3 d-flex justify-content-start">
                <div class="dropdown">
                  <button  class="btn-sm btn btn-outline-dark dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Tareas
                  </button>
                  <ul class="dropdown-menu">

                    <li><a class="dropdown-item" href="/tareas">Ver tareas</a></li>

                  </ul>
                </div>

              </div>


            </div>

          </div>

          {{#if interacciones_basadas_en_estado_remake}}

          {{#each interacciones_basadas_en_estado_remake}}

          <!--Contenedor info-->
          <div class="container-fluid mb-3" style="background-color: #d3d3d39a; border-radius: 10px">

            <!--Icono documento-->
            <div class="row p-2 fondo-color-gris-icono">

              <div class="col-md-12 d-flex justify-content-start align-items-center ">
                <i class='bx bxs-file-archive' id="icono-interaccion-2"> </i>
                <h6 class="m-2">
                  Próxima cita: <strong>{{prox_encuentro}}</strong>
                </h6>
                <button class="{{estilo}} btn-sm">{{estado_inter}}</button>
              </div>

            </div>
            <!--Fin Icono documento-->

            <!--Información-->
            <div class="row mb-2 pb-3 pt-3">
              <!--1ra col-->
              <div class="col-md-5">

                Raz&oacute;n Social: <strong>{{razon_social}} </strong><br />

                Contacto: <strong>{{nombre_contacto}} </strong><br />

                Cuit: <strong>{{cuit}}</strong><br />

                Localidad: <strong>{{localidad}}, {{direccion}}</strong><br />

                Día de la interacción: <strong>{{dia_de_interaccion}}</strong>
              </div>

              <!--Fin 1ra col-->

              <!--2da col-->
              <div class="col-md-5">

                Reponsable: <strong>{{responsable}}</strong> <br>

                Le interesa: <strong>{{interes}} </strong><br />

                M&aacute;quina: <strong>{{tipo}} {{estado}}</strong><br />

                <div class="mt-1"></div>

                Tel&eacute;fono: <strong>{{telefono}}

                  <a style="color: #fff; border-radius:5px" class="p-2  bg-danger btn-sm"
                    href="tel:{{telefono}}"><i class='bx bx-xs bxs-phone-outgoing icono-llamada'></i></a>

                </strong>

                <div class="mb-3"></div>
              </div>
              <!--Fin 2da col-->

              <!--4ta col-->
              <div class="col-md-2 d-flex justify-content-end">
                <div class="dropdown">
                  <button  class="btn-sm btn btn-outline-dark dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Acciones
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/interaccion/{{id_interaccion}}">Ver</a></li>
                    <li><a class="dropdown-item" href="/interaccion/borrar/{{id_interaccion}}">Borrar</a></li>

                  </ul>
                </div>

              </div>
              <!--Fin 4ta col-->

            </div>


          </div>
          {{/each}}

          {{else}}

          <div class="row mt-2">
            <div class="col-md-6">
              <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
                No hay interacciones del tipo seleccionado !
              </div>
            </div>
          </div>

          {{/if}}



        </div>

      </div>

    </div>

  </div>

</div>