{{#if estado}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>
    <div class="col-md-10 sinpadding">
      {{> cabeceraBeta}}
      <div class="row box-ind sinpadding">
        <div class="col-md-12 box-cajas">

          <div class="row mt-2 mb-2">

            <div class="col-md-4">
              <h4>{{maquina.[0].tipo}} <button class="btn btn-success btn-sm">Activa</button> </h4>
            </div>

            <div class="col-md-8 d-flex aling-items-center justify-content-end p-3 opc-inter">

              <a href="/ficha/{{maquina.[0].id}}" id="enlace"></a>

              <button class="btn btn-sm btn-success" id="botonCopiar">Copiar enlace <i
                  class='bx bx-copy-alt'></i></button>

              <!-- Agregar el elemento de alerta de Bootstrap (inicialmente oculto) -->

              <div style="margin-left: 10px"></div>


              <button id="btn-editar" class="filtro-inter btn btn-sm btn-warning"> <i class="bx bxs-edit-alt"></i>
                Editar datos</button>

              <div style="margin-left: 10px"></div>

              <a id="btn-editar-foto" class="filtro-inter btn btn-sm btn-warning"
                href="/cargar-foto-destacada/{{maquina.[0].id}}"><i class="bx bxs-edit-alt"></i> Editar foto</a>

              <div style="margin-left: 10px"></div>

              <a id="btn-galeria" class="filtro-inter btn btn-sm btn-warning"
                href="/crear-galeria/{{maquina.[0].id}}"><i class="bx bxs-edit-alt"></i> Crear galería</a>

              <button id="btn-cancel" class="btn btn-sm btn-danger">Salir de edición</button>

            </div>

          </div>

          <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" id="alertaEnlaceCopiado"
            style="display: none; width:200px">
            Enlace copiado
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="row mb-5">

            <div class="col-md-4 mb-3">

              <img src="{{url_foto}}" class="img-fluid" alt="No hay imagen cargada">


              <div class="textarea-container">
                <textarea name="observacion" style="color: green;" class="muted"
                  placeholder="Escribe aquí las observaciones">{{#each maquina}}{{modelo}}{{/each}}</textarea>
              </div>

            </div>

            <div class="col-md-8">
              <form action="/maquinaria/{{maquina.[0].id}}/modificar-datos/create" method="post" class="form-group ">

                <label class="form-label" for="">Tipo de maquina: </label>
                <select class="form-control" name="fk_tipo" id="">
                  {{#each maquina}}
                  <option value="{{fk_tipo}}" selected> {{tipo}}</option>
                  {{/each}}
                  {{#each tipos_maq}}
                  <option value="{{id}}">Redefinir a {{tipo}}</option>
                  {{/each}}
                </select>

                <label class="form-label" for="">Modalidad: </label>
                <select class="form-control" name="fk_modalidad" id="">
                  {{#each maquina}}
                  <option value="{{fk_modalidad}}" selected> {{modalidad}}</option>
                  {{/each}}
                  {{#each modalidad}}
                  <option value="{{id}}">Redefinir a {{descrip}}</option>
                  {{/each}}
                </select>

                <label class="form-label" for="">Estado: </label>
                <select name="fk_estado" class="form-control" id="">
                  {{#each maquina}}
                  <option value="{{fk_estado}}" selected> {{estado}}</option>
                  {{/each}}
                  {{#each estado_maq}}
                  <option value="{{id}}">Redefinir a {{descrip}}</option>
                  {{/each}}
                </select>


                <label class="form-label" for="">Precio en USD: </label>
                {{#each maquina}}
                <input class="form-control" name="precio" type="text" value="{{precio}}" placeholder="Precio">
                {{/each}}


                <label class="form-label" for="">Disponibilidad: </label>
                <select name="fk_disponibilidad" class="form-control" id="">
                  {{#each maquina}}
                  <option value="{{fk_disponibilidad}}" selected> {{disponibilidad}}</option>
                  {{/each}}

                  {{#each disponib}}
                  <option value="{{id}}"> Redifinir a {{descrip}}</option>
                  {{/each}}
                </select>

                <button id="btn-save" type="submit" class="btn btn-sm btn-warning mb-2 mt-4">Aplicar cambios</button>

              </form>
            </div>
          </div>

          <!--Galería-->

          {{#if urls_galeria}}

          <div id="carouselExample" class="carousel mt-2 mb-5 slide text-center">
            <div class="carousel-inner">
              {{#each urls_galeria}}
              <div class="carousel-item{{#unless @index}} active{{/unless}}">
                <div class="row">
                  <div class="col-md-12  d-flex justify-content-end aling-items-center">
                    <!--
                    <a href="#" class=" mt-3 mb-3 btn btn-danger btn-sm "><i
                        class='bx bxs-trash' style='color:#ffffff'></i></a>
                        -->
                  </div>
                </div>
                <img src="{{this}}" style="border-radius:10px ;" class="img-fluid" alt="Foto maquinaria">
              </div>
              {{/each}}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          {{else}}

          <p class="mt-3">No hay imágenes cargadas</p>

          {{/if}}
          <!-- Fin de la galería -->


        </div><!--fin col-md-12 box-cajas-->

      </div><!--fin row box-ind-->

    </div><!--fin col-md-10-->

  </div><!--fin row-->


  <div><!--fin container fluid-->

    {{else}}


    <div class="container-fluid">

      <div class="row">

        <div class="col-md-2 sinpadding">
          {{> lateralBeta}}
        </div>

        <!--DENTRO DE ESTE DIV VA: la cabecera y el contenido-->

        <div class="col-md-10 sinpadding">

          {{> cabeceraBeta}}<!--cabecera-->


          <div class="row box-ind sinpadding"><!-- Dentro de este div va todo el contenido-->

            <div class="col-md-12 box-cajas">

              <div class="row mt-2 mb-2">

                <div class="col-md-12">

                  <h4>{{maquina.[0].tipo}}

                    <button class="btn btn-danger btn-sm">No Activa</button>

                  </h4>

                </div>

              </div>



              <div class="row">

                <div class="col-md-4">
                  <label class="form-label" for="">Tipo de maquina: </label>
                  <select class="form-control" name="fk_tipo" id="">
                    {{#each maquina}}
                    <option value="" selected>{{tipo}}</option>
                    {{/each}}
                  </select>

                </div>

                <div class="col-md-4">
                  <label class="form-label" for="">Modelo: </label>
                  <input class="form-control" type="text" value="{{maquina.[0].modelo}}" placeholder="Modelo">
                </div>

                <div class="col-md-4">
                  <label class="form-label" for="">Modalidad: </label>
                  <select class="form-control" name="" id="">
                    {{#each maquina}}
                    <option value="" selected> {{modalidad}}</option>
                    {{/each}}
                  </select>

                </div>
              </div>

              <div class="row mb-2">

                <div class="col-md-4">
                  <label class="form-label" for="">Estado: </label>
                  <select name="" class="form-control" id="">
                    {{#each maquina}}
                    <option value="" selected> {{estado}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="form-label" for="">Precio: </label>

                  {{#each maquina}}
                  <input class="form-control" type="text" value="{{precio}}" placeholder="Precio">
                  {{/each}}

                </div>

                <div class="col-md-4">
                  <label class="form-label" for="">Disponibilidad: </label>
                  <select name="" class="form-control" id="">
                    {{#each maquina}}
                    <option value="{{disponibilidad}}" selected> {{disponibilidad}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>

            </div><!--fin col-md-12 box-cajas-->

          </div><!--fin row box-ind-->

        </div><!--fin col-md-10-->

      </div><!--fin row-->


      <div><!--fin container fluid-->
        <!---->


        {{/if}}

        <script src="/js/edit_maq.js"></script>
        <script src="/js/alert.js"></script>

        <script>
          // Llama a esta función después de que se cargue la página
          $(document).ready(function () {
            $('.carousel').carousel();
          });
        </script>


        <style>
          /* Estilo para los botones del carrusel */
          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            background-color: hsla(45, 100%, 51%);
            /* Fondo similar al color de advertencia de Bootstrap */
            color: #333;
            border: none;
            /* Sin borde */
            font-size: 24px;
            /* Tamaño de fuente */
            opacity: 0.8;
            /* Opacidad al estado normal */
            transition: opacity 0.3s ease;
            /* Transición suave */
            border-radius: 10px;
          }

          .carousel-control-prev:hover,
          .carousel-control-next:hover {
            opacity: 1;
            /* Opacidad al pasar el ratón por encima */
          }

          /* Cambiar el color del ícono de la flecha siguiente */
          .carousel-control-next-icon::before {
            color: #333;
            /* Color negro metálico */
          }
        </style>